<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <nav aria-label="Primary">
        <a href="{{ '/' | relative_url }}" class="btn">About Me</a>
        {% for page in site.pages %}
          {% if page.button_title and page.filename %}
            <a href="{{ page.filename | relative_url }}" class="btn">{{ page.button_title }}</a>
          {% endif %}
        {% endfor %}
      </nav>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}

            <footer class="site-footer">
        <p align="center">&copy;2023 Iker García-Ferrero</p>
    </footer>

    </main>

  </body>
</html>
